// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

h1 {
  font-size: 50px;
}

p {
  font-size: 24px;
}

#input-box {
    border: 1px solid rgba(0,0,0,0.3);
    width: 500px;
    height: 30px;
    border-radius: 20px;
  }

#input-button {
  background-color: blue;
  color: white;
  height: 30px;
}

.output-you {
  background-color: $gray;
  width: 400px;
  padding: 10px 0px 5px 20px;
  margin-bottom: 20px;
  font-size: 20px;
  p {
    font-style: italic;
  }
}

.output-coach {
  background-color: rgb(226, 219, 117);
  width: 400px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0px 5px 20px;
  p {
    font-style: italic;
    font-weight: normal;
  }
}

a {
  color: blue;
  text-decoration: none;
  padding: 20px;
}
